Data Wrangling II
Create an “Academic performance” dataset of students and perform the following operations using
Python.
1. Scan all variables for missing values and inconsistencies. If there are missing values and/or
inconsistencies, use any of the suitable techniques to deal with them.
2. Scan all numeric variables for outliers. If there are outliers, use any of the suitable
techniques to deal with them.
3. Apply data transformations on at least one of the variables. The purpose of this
transformation should be one of the following reasons: to change the scale for better
understanding of the variable, to convert a non-linear relation into a linear one, or to
decrease the skewness and convert the distribution into a normal distribution.

In [ ]:
import pandas as pd
import numpy as np
from pathlib import Path

In [ ]:
df = pd.read_csv('/content/xAPI-Edu-Data.csv')
df

,gender,NationalITy,PlaceofBirth,StageID,GradeID,SectionID,Topic,Semester,Relation,raisedhands,VisITedResources,AnnouncementsView,Discussion,ParentAnsweringSurvey,ParentschoolSatisfaction,StudentAbsenceDays,Class
0,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,15,16,2,20,Yes,Good,Under-7,M
1,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,20,20,3,25,Yes,Good,Under-7,M
2,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,10,7,0,30,No,Bad,Above-7,L
3,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,30,25,5,35,No,Bad,Above-7,L
4,M,KW,KuwaIT,lowerlevel,G-04,A,IT,F,Father,40,50,12,50,No,Bad,Above-7,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
475,F,Jordan,Jordan,MiddleSchool,G-08,A,Chemistry,S,Father,5,4,5,8,No,Bad,Above-7,L
476,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,F,Father,50,77,14,28,No,Bad,Under-7,M
477,F,Jordan,Jordan,MiddleSchool,G-08,A,Geology,S,Father,55,74,25,29,No,Bad,Under-7,M
478,F,Jordan,Jordan,MiddleSchool,G-08,A,History,F,Father,30,17,14,57,No,Bad,Above-7,L
479,F,Jordan,Jordan,MiddleSchool,G-08,A,History,S,Father,35,14,23,62,No,Bad,Above-7,L

In [ ]:
# 1. SCAN & DEAL WITH MISSING VALUES AND INCONSISTENCIES
print("--- Step 1: Missing Values ---")
print(df.isnull().sum())  # Scan for nulls

# Handle Inconsistencies: standardizing categorical text (strip spaces & fix casing)
for col in df.select_dtypes(include='object').columns:
    df[col] = df[col].str.strip().str.title()
print("\nInconsistencies handled (Text standardized to Title Case).")

--- Step 1: Missing Values ---
gender                      0
NationalITy                 0
PlaceofBirth                0
StageID                     0
GradeID                     0
SectionID                   0
Topic                       0
Semester                    0
Relation                    0
raisedhands                 0
VisITedResources            0
AnnouncementsView           0
Discussion                  0
ParentAnsweringSurvey       0
ParentschoolSatisfaction    0
StudentAbsenceDays          0
Class                       0
dtype: int64

Inconsistencies handled (Text standardized to Title Case).

In [ ]:
# 2. SCAN & DEAL WITH OUTLIERS
print("\n--- Step 2: Outliers (IQR Method) ---")
numeric_cols = df.select_dtypes(include=[np.number]).columns

for col in numeric_cols:
    Q1, Q3 = df[col].quantile(0.25), df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower, upper = Q1 - 1.5 * IQR, Q3 + 1.5 * IQR

    # Identify count
    outlier_count = ((df[col] < lower) | (df[col] > upper)).sum()
    print(f"{col}: {outlier_count} outliers found.")

    # Handle: Capping (Winsorization)
    df[col] = np.clip(df[col], lower, upper)

--- Step 2: Outliers (IQR Method) ---
raisedhands: 0 outliers found.
VisITedResources: 0 outliers found.
AnnouncementsView: 0 outliers found.
Discussion: 0 outliers found.

In [ ]:
# 3. DATA TRANSFORMATION
# Applying Log Transformation to 'raisedhands' to decrease skewness
df['raisedhands_log'] = np.log1p(df['raisedhands'])

print("\n--- Step 3: Transformation (Log) ---")
print(df[['raisedhands', 'raisedhands_log']].head())

--- Step 3: Transformation (Log) ---
   raisedhands  raisedhands_log
0           15         2.772589
1           20         3.044522
2           10         2.397895
3           30         3.433987
4           40         3.713572